.button {
  position: relative;
  height: var(--interactive-element-height);
  width: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gutter-sm);
  border-radius: var(--radius);
  transition: var(--transition);
  padding: 0 var(--gutter);
  border: none;
  cursor: pointer;
  color: inherit;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: inherit;
  background-color: var(--fill-gray-quaternary);
}

.button:disabled:hover {
  background-color: var(--fill-gray-quaternary);
}

.button:focus-visible {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  transition: none;
}

.button svg {
  min-height: 20px;
  min-width: 20px;
  max-width: 20px;
  max-height: 20px;
}

.default {
  background-color: var(--fill-brand);
  color: #fff;
}

.default:hover {
  background-color: var(--fill-brand-hover);
}

.default:focus-visible {
  outline-color: var(--fill-brand);
}

.subtle {
  background-color: var(--fill-gray-quaternary);
}

.subtle:hover {
  background-color: var(--fill-gray-tertiary);
}

.subtle:focus-visible {
  outline-color: var(--fill-gray);
}

.destructive {
  background-color: var(--fill-red);
  color: #fff;
}

.destructive:hover {
  background-color: var(--fill-red-hover);
}

.destructive:focus-visible {
  outline-color: var(--fill-red);
}

.outline {
  background-color: transparent;
  border: var(--interactive-element-border);
}

.outline:hover {
  background-color: var(--fill-gray-quaternary);
}

.outline:focus-visible {
  outline-color: var(--fill-gray);
}

.ghost {
  background-color: transparent;
}

.ghost:hover {
  background-color: var(--fill-gray-quaternary);
}

.ghost:focus-visible {
  outline-color: var(--fill-gray);
}

.icon {
  width: 40px;
}

.rounded {
  border-radius: 22px;
}

.small {
  height: 32px;
  padding: 0 var(--gutter);
  font-size: var(--font-sm);
}

.small.icon {
  width: 16px;
}

.small svg {
  min-height: 16px;
  min-width: 16px;
  max-width: 16px;
  max-height: 16px;
}

.fill {
  width: 100%;
}

.loader {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: inherit;
  border-radius: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.loadingicon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
